<!--con el punto adelante en .title genera una ruta relativa para dentro del archivo de idioma-->
<!--busca el controlador product, accion edit, luego el title-->
<h2><%= t('.title') %></h2>

<%= render 'form' %>
